/*
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 1000

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


*/

/*-- Reseteo de CSS --*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  padding: 90px 20px 0;
}

img {
  max-width: 100%;
}

/*--Header--*/

.header {
  background-color: whitesmoke;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 20px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  text-decoration: overline;
  transition: 0.5s;
}

/*-- AQUÍ NO ENTIENDO TODAVÍA POR QUÉ NO SE VE EL BOTÓN --*/

.burger-menu {
  color: #bb3c15;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

/*-- Estilos de móvil - Nav --*/

@media (min-width: 480px) and (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    color: gray;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: antiquewhite;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc (100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: 0.5s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
  }

  .nav-menu-link:hover {
    background: none;
    color: #8C2D18;
  }

  .burger-menu {
    display: block;
  }

  .nav-menu-visible {
    left: 0;
  }
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: large;
  font-style: normal;
  color: black;
}

.logo {
  font-size: x-large;
  font-weight: bold;
  color: gray;
  padding: 0 40px;
  line-height: 80px;
}

h1 {
  color: #bb3c15;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: xx-large;
  font-weight: 700;
  font-style: normal;
}


/*-- Revisar estos valores de la portada --*/

/*-- Portada index --*/

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
}

.portada img {
  display: flex;
  width: 40%;
  justify-content: right;
}

p {
  color: #0D0D0D;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-style: normal;
  margin-left: 20px;
}

.titulo-secciones {
  color: #BF3617;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 10px;
}


section h3 {
  color: #0D0D0D;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  color: #8C2D18;
  font-weight: bold;
  text-decoration: overline;
}

.articulos-blog {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 300px;
}