@charset "UTF-8";
/*
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 1000

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/
/*-- bases del proyecto, titulos, tamaños, tipografias, reseteo, modificaciones de listas, clases para activar flexbox --*/
/*-- Reseteo de CSS --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*-- Variables --*/
/*-- Estilos generales --*/
a:hover {
  color: #8C2D18;
  font-weight: bold;
}

/* -- Me falta aquí poner todas las variables del proyecto --*/
/*--Header / Nav --*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 50px 10%;
}
.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.header .nav-links li a {
  font-size: 700;
  color: black;
}
.header .nav-links li a:hover {
  transform: scale(1);
}
.header .nav-links li a-active {
  font-weight: bolder;
}

.logo {
  font-size: x-large;
  width: auto;
  color: #BF3617;
  cursor: pointer;
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.3);
}

.overlay a:hover {
  transform: scale(1);
}

.menu {
  display: none;
}

/*-- Aquí me falta ponerle cuándo inicia y cuándo acaba para que no se rompa --*/
@media screen and (max-width: 900px) {
  .nav-links,
  .menu {
    display: none;
  }
  .menu {
    display: block;
  }
  .header .menu button {
    margin-left: 20px;
    font-weight: 700;
    padding: 9px 25px;
    background-color: bisque;
    color: #BF3617;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .header .menu button:hover {
    background-color: bisque;
    color: #8C2D18;
    transform: scale(1.1);
  }
}
/*-- Nav --*/
.header a {
  text-decoration: none;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: antiquewhite;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  color: black;
}

.header .overlay a:hover,
.header .overlay a:focus {
  color: #8C2D18;
}

.header .overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 65px;
}

@media screen and (max-height: 450px) {
  .header .overlay a {
    font-size: 20px;
  }
  .header .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*-- Portada index --*/
/* Estilos para la sección de la portada */
.portada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-height: 50vh;
}
.portada .presentacion {
  max-width: 50%;
}

.imagen-portada {
  width: 40%;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .portada {
    flex-direction: column;
    text-align: center;
  }
  .portada .presentacion {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .imagen-portada {
    width: 80%;
  }
}
/* Animación para cambiar las palabras - HAY UN ERROR AQUÍ Y TAMPOCO LOGRO DAR CON LA RAZÓN */
@keyframes changeWord {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#changing-word {
  animation: changeWord 5s infinite;
  /* Cambia cada 5 segundos */
}

/* Estilos para la sección de "Mi Trabajo" */
#mi-trabajo {
  padding: 20px;
}

#mi-trabajo .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#mi-trabajo .titulo-secciones {
  color: #BF3617;
  font-size: 24px;
  font-weight: bold;
}

#mi-trabajo p {
  color: #0D0D0D;
  font-size: 16px;
  margin-bottom: 20px;
}

#mi-trabajo a {
  background-color: #BF3617;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#mi-trabajo a:hover {
  background-color: #8C2D18;
}

/* Responsive celular */
@media screen and (max-width: 768px) {
  .portada {
    flex-direction: column;
  }
  .portada .presentacion {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .portada img {
    max-width: 100%;
  }
  #mi-trabajo .container {
    align-items: center;
  }
}
/*--Estilos home sección blog --*/
.articulos-blog {
  padding: 20px;
}
.articulos-blog .titulo-secciones {
  text-align: center;
  margin-bottom: 20px;
}
.articulos-blog .articulos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.articulos-blog .articulos-container .articulos {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  flex-direction: column;
}
.articulos-blog .articulos-container .articulos img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.articulos-blog .articulos-container .articulos h3,
.articulos-blog .articulos-container .articulos p {
  margin: 10px;
}
.articulos-blog .articulos-container .articulos button {
  align-self: flex-start;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .articulos {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 480px) {
  .articulos {
    width: 100%;
  }
}
/*-- Main contacto--*/
.container-formulario {
  display: block;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 20px;
  height: calc(60vh - 120px);
  margin-top: 20px;
}

.main-contacto h1 {
  margin-bottom: 30px;
}

.main-contacto p {
  margin-bottom: 80px;
  font-size: large;
}

/*-- Página de contacto - Formulario --*/
form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #8C2D18;
  font-weight: 300;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: #8C2D18;
}

textarea {
  resize: vertical;
}

/*-- Política de privacidad del formulario --*/
.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input[type=checkbox] {
  margin-right: 10px;
}

.checkbox-group label {
  margin-bottom: 0;
  color: black;
}

.form-group p {
  margin-top: 10px;
  font-size: small;
}

.form-group p a {
  color: #BF3617;
  text-decoration: none;
}

.form-group p a:hover {
  color: #8C2D18;
}

button {
  background-color: #BF3617;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8C2D18;
}

@media (max-width: 600px) {
  .main-contacto {
    padding: 10px;
  }
  form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
