

/*-- Reseteo de CSS --*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Variables --*/
$color-primary: #0D0D0D;
$color-secondary: #F2F2F2;
$color-accent: #D9A384;
$color-text: #565659;
$color-background: #DED5F2;

$font-size-principal-text: 1.5rem;
$font-size-text: 1.2rem;
$font-weight-tiny: 300;
$font-weight-medium: 500;
$font-weight-strong:800;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1rem;
$font-size-tags: 0.8rem;

$border-img: 15px;
$border-button: 20px;

body {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 20px;
    width: 100%;
}

/*-- Estilos para los enlaces --*/
a {
  color: $color-primary;
  font-weight: $font-weight-tiny;

  &:hover {
      color: $color-text;
      font-weight: bold;
  }
}


/* -- Media Query Mobile--*/
@mixin mq-mobile {
  @media (min-widht: 450px) {
    @content
  }
}
