/*-- Main contacto--*/

.container-formulario {
    display: block;
}

.main-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 20px;
    height: calc(60vh - 120px);
    margin-top: 20px;
}

.main-contacto h1 {
    margin-bottom: 30px;
}

.main-contacto p {
    margin-bottom: 80px;
    font-size: large;
}

/*-- Página de contacto - Formulario --*/

form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8C2D18;
    font-weight: 300;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #8C2D18;
}

textarea {
    resize: vertical;
}

/*-- Política de privacidad del formulario --*/

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group label {
    margin-bottom: 0;
    color:$color-primary;
}

.form-group p {
    margin-top: 10px;
    font-size: small;
}

.form-group p a {
    color: #BF3617;
    text-decoration: none;
}

.form-group p a:hover {
    color: #8C2D18;
}

button {
    background-color: #BF3617;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8C2D18;
}

@media (max-width: 600px) {
    .main-contacto {
        padding: 10px;
    }

    form {
        width: 100%;
    }
}