/*-- PENDIENTE ANIDAR EL CÓDIGO EN TODAS LAS PÁGINAS --*/

/*-- Main contacto--*/

/* Estilos para el contenedor del formulario */
.container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
}

/* Estilos para la imagen */
.image-contacto {
    margin-bottom: 20px;
}

.image-contacto img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;

    &:hover{
        transform: translateY(-5px);
    }
}

/* Estilos para el título */
.container-formulario h1 {
    margin-bottom: 10px;
}

/* Estilos para el párrafo */
.container-formulario p {
    margin-bottom: 20px;
}

/* Estilos para el formulario */
.main-contacto {
    width: 80%; 
    max-width: 600px; 
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:$color-text; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: $color-secondary; 
}

textarea {
    resize: vertical;
}

/* Estilos para el grupo de checkboxes */
.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group label {
    margin-bottom: 0;
    color: $color-primary; 
}

/* Estilos para los enlaces del formulario */
.form-group a {
    color: $color-primary;
    text-decoration: none;
}

.form-group a:hover {
    color: $color-text;
}

/* Estilos para el botón de enviar */
button {
    background-color: $color-accent;
    color: $color-primary;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: $color-background; 
}


@media (max-width: 600px) {
    .main-contacto {
        padding: 10px;
    }

    form {
        width: 100%;
    }
}