
/* -- Estilos de hero -- */
.hero-experiencia {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 50px;
    margin-right: 20px;
    background-color: $color-background;
    border-radius: $border-img;

    .hero-experiencia-content {
        max-width: 90%;
        text-align: left;
        padding-bottom: 20px;

        h1 {
            flex: 2;
            padding-left: 3%;
            font-size: $font-size-h1;
            font-weight: $font-weight-strong;
        }

        p {
            flex: 2;
            padding-left: 3%;
            font-size: $font-size-principal-text;
        }
    }
}


/* Animación de rebote */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Estilos de secciones */
.resumen-experiencia,
.trabajos-experiencia {
    padding: 20px;
    margin-bottom: 40px;

    &.resumen-experiencia {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-sumario {
            padding: 20px;
            margin-bottom: 40px;
        }
    }

    &.trabajos-experiencia {
        margin: 20px;
        padding: 20px;
        border-radius: 10px;

        h3 {
            color: $color-primary;
            font-size: $font-size-h3;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;

            li {
                margin-bottom: 20px;
                padding-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
}

.titulos-principales {
    color: $color-primary;
}


/* Estilos generales del header de experiencia */
.header-experiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h4 {
        font-size: $font-size-h3;
    }

    span {
        color: $color-accent;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size:$font-size-text;
    }
}

/* Estilos para los puntos */
.points {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 100px;
    width: calc(100% - 20px);
    list-style: none;

    &-internos {
        margin-bottom: 10px;
        border-bottom: none;
    }
}

/* Estilos para los botones */
.botones {
    display: flex;
    margin-left: auto;
}

// Estilos del botón de CV
.boton-cv {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: $color-background;
    color: $color-text;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        background-color: $color-background;
        color: $color-primary;
        transform: translateY(-5px);
    }
}
/* Animaciones */
.trabajos-experiencia-li {
    transition: transform 0.3s ease;
}

.trabajos-experiencia-li:hover {
    transform: translateY(-5px);
}