/*-- Portada index --*/

/* Estilos para la sección de la portada */
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .presentacion {
        max-width: 50%;
        text-align: left;
        font-size: $font-size-h1;
    }
}

.texto-portada {
    flex: 2;
    padding-left: 8%;
    font-size: large;
}

.imagen-portada {
    max-width: 100%;
    background-color: white;
}

.imagen-portada-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 8%;
}

/* -- Animación --*/
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Aplicar la animación*/
.imagen-portada {
    animation: bounce 8s infinite;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .portada {
        flex-direction: column;
        text-align: center;
    }

    .portada .presentacion {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .imagen-portada {
        width: 80%;
    }
}

/* Animación para cambiar las palabras - HAY UN ERROR AQUÍ Y TAMPOCO LOGRO DAR CON LA RAZÓN */
@keyframes changeWord {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#changing-word {
    animation: changeWord 2s initial;
    /* Cambia cada 2 segundos */
}

/* Estilos para la sección de "Mi Trabajo" */
#mi-trabajo {
    padding: 20px;
}

#mi-trabajo .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mi-trabajo .titulo-secciones {
    color: #565659;
    font-size: 24px;
    font-weight: bold;
}

#mi-trabajo p {
    color: #0D0D0D;
    font-size: $font-size-principal-text;
    margin-bottom: 20px;
}

#mi-trabajo a {
    background-color: #565659;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#mi-trabajo a:hover {
    background-color: #8C2D18;
}

/* Responsive celular */
@media screen and (max-width: 768px) {
    .portada {
        flex-direction: column;
    }

    .portada .presentacion {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .portada img {
        max-width: 100%;
    }

    #mi-trabajo .container {
        align-items: center;
    }
}

/* Estilos blog */
.blog {
    padding: 4.5rem 0;
    max-width: 1200px;
    /* Limita el ancho máximo del contenido */
    margin: 0 auto;
    /* Centra el contenido horizontalmente */
}

.texto-blog a{
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: $color-background;
    color: $color-text;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        background-color: $color-background;
        color: $color-primary;
        transform: translateY(-5px);
    }
}


.blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-item {
    width: calc((100% - (3 * 2rem)) / 3);
    ;
    /* Ancho de cada artículo para desktop (3 ítems por fila) */
    margin-bottom: 4rem;
    /* Espacio entre los artículos */
}

.blog-img {
    position: relative;
    overflow: hidden;
    /* Evita que las imágenes se desborden */
}

.blog-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* Establece un ancho máximo para las imágenes */
    display: block;
    border-radius: $border-img;
}

/* Estilos para tablet (2 ítems por fila) */
@media screen and (max-width: 1024px) {
    .blog-item {
        width: calc((100% - (2 * 2rem)) / 2);
        /* Para tablet: 2 ítems por fila */
        margin-right: 2rem;
        /* Espacio entre los ítems */
    }
}

/* Estilos para móvil (1 ítem por fila) */
@media screen and (max-width: 768px) {
    .blog-item {
        width: 100%;
        /* Establece el ancho de cada artículo para móvil (1 ítem por fila) */
    }
}

/* Botones animados */

.botones-index {
    display: block;
    width: auto;
    height: auto;
    margin: 20px auto;
    color: #fff;
    border: none;
    border-radius: $border-button;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.contenedor-boton-index {
    padding-bottom: 50px;
}

.boton-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    border: none;
    color: $color-primary;
    margin: 0 auto;
    font-size: $font-size-h2;

    &:after {
        position: absolute;
        background-color: $color-background;
        border-radius: $border-button;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        direction: rtl;
        z-index: -1;
        transition: transform 0.3s ease;
    }
}

@media screen and (max-width: 768px) {
    .boton-blog {
        max-width: max-content;
    }
}

.boton-blog:hover {
    color: $color-primary;
    transform: translateY(-5px)
}

.boton-blog:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.boton-blog:active {
    top: 2px;
}